* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    size: 8rem;
    position: sticky;
    top: 0px; 
}

.siteTitle{
    font-size: 2rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.nav ul{
    padding: 0; 
    margin: 0;
    list-style: none;
    display: flex; 
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none; 
}

.nav li.active{
    color: yellow; 
}

.nav li:hover{
    color: red; 
}