* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    size: 8rem;
    position: sticky;
    top: 0px; 
    width: 100%;
    height: 5vw;
}

.logOutButton {
    border: none;
    background-color: rgb(243, 81, 12);
    color: white;
    padding: 1vw;
    margin: 0vw;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    margin-right: 1vw;
}


.siteTitle{
    font-size: 4vw;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
}

.siteTitle :hover{
    color: rgb(238, 195, 22); 
}

.nav ul{
    padding: 0; 
    margin: 0;
    margin-left: auto;
    margin-right: 1rem;
    list-style: none;
    display: inline-flex; 
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none; 
}

.nav li.active{
    color: rgb(219, 107, 59); 
}

.nav li:hover{
    color: rgb(238, 195, 22); 
}

.navBut {
    /*removes default border on button element*/
    border: 0;
    height: 3vw;
    width: 3vw;
    padding: 0.5rem;
    border-radius: 20%;
    background-color: rgb(219, 107, 59);
    cursor: pointer;

    position: absolute;
    top: 20%;
    right: 10%;
    transform: translateY(-50%);
    display: none;
}

.navBut:hover {
    background-color: rgb(238, 195, 22); 
}

@media screen and (max-width: 768px) {
    .navBut {
        display: block;
    }
    .nav-menu ul{
        position: absolute;
        top: 5vw;
        left: 0;

        flex-direction: column;
        width: 100%;
        height: 7vw;
        background-color: black;
        color: white;
        display: none
    }

    .nav-menu li{
        text-align: center;
        margin: 0;
    }

    .nav-menu li a{
        color: white;
        width: 100%;
        padding: 0rem 0;
    }

    .nav-menu li:hover{
        color: rgb(238, 195, 22); 
    }  
    
    .nav li:hover{
        color: rgb(238, 195, 22); 
    }

    .nav-menu.expanded ul {
        display: block
    }
}