.drumPic{
    display: flex; 
    background: url('./desertDude.jpeg') no-repeat center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    padding: 200px; 
    height: auto;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.welcomeTitle{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    background: none;
    color: black;
    font-size: 5vw; 
}

.welcomeSub{
    background-color: transparent;
    color: black; 
    font-size: 3vw;
    width: 100%;
    text-align: center;

}

.aboutSect, .redirect{
    background-color: transparent;
    color: white;
    text-align: center;
    margin-bottom: 3vw;

}


.tagline{
    margin-top: 2vw;
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 0.5vw;
    font-size: 3.5vw;
}

.instructionManual{
    margin-top: 3vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.instructions1, .instructions2, .instructions3{
    background-color: transparent;
    width: 20%;
    font-size: 1.5vw;
}

.link1, .link2, .link3{
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.getSharing, .welcomeLinks {
    background-color: transparent;

}

.titleArea{
    background-color: transparent;
    margin-bottom: 3vw;
}