<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>3000 Prac</title>
</head>
<body>
  <h1> Live Eat Code Pray in 35L </h1>
  <p>I love javascript</p>

  <section data-position="add-song">
    <form action="/songs" method="POST">
        <input type="text" placeholder="Title" name="name"/>
        <input type="text" placeholder="Artist" name="artist"/>
        <button type="submit">Submit Song</button>
    </form>
</section>

<section data-position="update-song">
  <div>
      <h2>SONG change</h2>
      <p>
          Pushing the following button with replace the first
          listed song with 
          the title Sweet Emotion with New Slang
      </p>
      <button id="update-button">Replace Song</button>
  </div>
</section>

<section data-position="delete-song">
  <div>
      <h2>Talk like old people</h2>
      <p>
          Remove a song with title New Slang. Does nothing if songs with that title
      </p>
      <button id="delete-button">Delete New Slang</button>
  </div>
  <div id="message"></div>
</section>


<section data-position="song-list">
    <h2>List of Songs in 'Songs'</h2>
    <ul class="Songs">
        <% for(var i = 0; i < Songs.length; i++) {%>
        <li class="song">
            <span><%= Songs[i].name %></span>
            <span><%= Songs[i].artist %></span>
        </li>
    <% } %>
    </ul>
</section>
<script src="/main.js"></script>
</body>
</html>
