.topPic {
    display: flex; 
    background: url('./sand.jpg') no-repeat center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    padding: 250px; 
    height: auto;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.head{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    background: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    font-size: 6vw; 

}


.profileMain{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    margin-left: 10vw; 
    margin-right: 10vw; 
    margin-top: 5vw; 
    margin-bottom: 3vw; 
    color: rgb(255, 255, 255); 
}


@keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.friendList {
    font-size: 2vw;
}

.tprompt{
    text-decoration: none;
    font-size: 4vw;
}

.todayprompt{
    font-size: 3vw;
}


.tresponse{
    font-size: 3vw;
    height: 9.5vh;
    overflow-y: scroll;
    margin-bottom: 5vh;
}

.tresponse::-webkit-scrollbar{
    display: none;
}

.friendRec{
    display: flex;
    flex-direction: row; 
}

.playlistTitle{

    font-size: 2.75vw;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin-left: 10vw; 
    margin-right: 10vw; 
    width: 70%;
}

.curName{
    font-size: 2.75vw;
    margin-bottom: 1.3vw;
}

.yourName{
    text-align: center;
    font-size: 2.75vw;
}

.yourfriends, .yourplaylist{
    font-size: 2.3vw;
    text-align: center;
    justify-content: center;
}

.yourplaylist{
    overflow-y:scroll;
    height: 60vh;
}

.yourplaylist::-webkit-scrollbar{
    display: none;
}

.friendList{
    justify-content: center;
}

.friends, .playlist {
    justify-content: space-evenly;
    align-items: center;
}

.todayAnswer{
    display: flex; 
    justify-content: center; 
    color: white; 
    margin-top: 15px; 
    flex-direction:column;
    align-items: center; 
}

.yourplaylist{
    width: 90vh;
}

.profileSongImg{
    padding: 5px;
    background-color:rgb(33, 32, 32); 
}

.profileIndividualSong{
    display: flex;
    flex-direction: row;
    height: 55px;
    margin-top: 8px;
    overflow: hidden; 
    background-color: rgb(33, 32, 32); 
}

.songartist{
    background-color: transparent;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.songName{
    font-size: 14px; 
    background-color: transparent; 
    padding:2px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    display: flex; 
    justify-content: flex-start;
}

.artistName{
    display: flex; 
    justify-content: flex-start;
    font-size: 10px;
    background-color:transparent; 
    color:rgba(205, 205, 205, 0.86);
    padding: 2px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.album{
    display: flex; 
    align-items: center;
    background-color: transparent;
    padding: 2px;
}

.albumName{
    font-size: 12px;
    color: rgba(205, 205, 205, 0.86);
    background-color: transparent;
    margin-right: 2vh;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    width: 32vh;
    display: flex; 
    justify-content: flex-start;
}


.friend{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color:  rgb(33, 32, 32); 
    padding: 2px;
    margin-top: 8px;
    margin-right: 5px;
    width: 15vh;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.friendName{
    font-size: 15px;
    color: rgba(205, 205, 205, 0.86);
    background-color: transparent;
    margin-right: 2vh;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.friendPrompt{
    display: flex; 
    justify-content: flex-start;
    font-size: 2vw;
    margin-top: 1.5vh;
}
