.head{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    background-image: url("./sand.jpg");
    height: 800px; 
    object-fit: cover; 
    color: black; 
    font-size: 4.5vw; 
    animation: fade 4s; 
}

.profileMain{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    margin-left: 15vw; 
    margin-right: 15vw; 
    margin-top: 5vw; 
    margin-bottom: 20vw; 
    color: rgb(255, 255, 255); 
}


@keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.friendList {
    font-size: 2vw;
}

.tprompt{
    text-decoration: underline;
    font-size: 4vw;
}

.todayprompt{
    font-size: 3vw; 
}

.tresponse{
    font-size: 3vw;
}

.friendTitle, .playlistTitle{

    font-size: 2.75vw;
    text-align: center;
    text-decoration: underline;
    align-items: center;
}

.yourfriends, .yourplaylist{
    font-size: 2.3vw;
    text-align: center;
    justify-content: center;
}

.friendList{
    justify-content: center;
}

.friends, .playlist {
    justify-content: space-evenly;
    align-items: center;
}

.todayAnswer{
    display: flex; 
    justify-content: center; 
    color: white; 
    margin-top: 15px; 
    flex-direction:column;
    align-items: center; 
}