.title{
    display: flex; 
    justify-content: center; 
    margin-top: 1.75vw; 
    margin-bottom: 4;
    padding: 1vw; 
    font-size: 4.5vw; 
    padding: 1vw; 
    color: white; 
}

.title2{
    color: white; 
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 0.5vw;
}

.front{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    color: white;
    margin-top: 1vw;
    margin-left: 20vw;
    margin-right: 20vw; 
}

.back{
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    color: white; 
    margin-left: 12.5vw; 
    margin-right: 12.5vw; 
    margin-bottom: 5vw; 
}

.name{
    font-size: 2.75vw;
    margin-bottom: 0.2vw;
}

.frontface{
    height: 35vw;
    width: 28vw;
    object-fit: cover; 
}

.backface{
    height: 35vw;
    width: 28vw;
    object-fit: cover;
}

.person{
    margin-bottom: 0.4vw;
}

.one, .two{
    margin: 2vw; 
}

.desc{
    color:white;
    margin-bottom: 0.4vw;
}

.linkedin, .github{
    color: rgb(175, 166, 166); 
    font-size: 3vw;
    margin-right: 1vw;
}

.linkedin:hover{
    color: rgba(0, 140, 255, 0.855);
}

.github:hover{
    color: rgb(129, 9, 180);
}
