.big{
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 200px; 
    color: white;
    animation: fade 6s; 
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
}

@keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}