.friendPic{
    display: flex; 
    background: url('./theBoys2.jpg') no-repeat center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    padding: 300px; 
    width: 100%;
    height: auto;
    flex-direction: column;

}

.picText{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    background: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    font-size: 6vw; 

}


.friendplay{
    color: white; 
    display: flex; 
    justify-content: center; 
    justify-content: space-around;
    margin-top: 2vw; 
    margin-left: 10vw;
    margin-right: 10vw; 
    margin-bottom: 5vw;
}

.friends{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.friendTitle{
    text-decoration: underline; 
    margin-bottom: 6px;
}

.friendList {
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
}

.playlist{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


.addFriend{
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 5vw;
}

.findTitle{
    text-decoration: underline;
}


@keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.friendResponse{
    display: flex; 
    flex-direction: row; 
}

.friendIndividualSong{
    display: flex;
    flex-direction: row;
    height: 60px;
    overflow: hidden; 
    background-color: rgb(33, 32, 32); 
}

.friendsFriend{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color:  rgb(33, 32, 32); 
    padding: 2px;
    margin-right: 5px;
    width: 15vh;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.prompt{
    margin-bottom: 3px; 
    margin-top: 8px; 
}

.playlistSongs{
    height: 45vh; 
    overflow: scroll; 
}

.playlistSongs::-webkit-scrollbar{
    display: none; 
}