.songForm, .promptForm, .SignupForm{
    background-color: rgb(0, 0, 0);
}

.songLabel, .artistLabel, .promptLabel, .signupUsernameLabel, .signupPasswordLabel{
    color: rgb(255, 255, 255);
    margin-top: 0.5em;
    text-align: left;
    font-size: 20px;
}

input{
    margin: 0.5rem 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(243, 81, 12);
}

.Song-form-container, .song-form, .Prompt-form-container, .prompt-form{
    display: flex;
    flex-direction: column;
}

.Signup-form, .Signup-form-container, .Signin-form-container, .Signin-form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

button{
    border: none;
    background-color: rgb(243, 81, 12);
    padding: 15px;
    margin: 0.5rem 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}